<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Familiares</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Entregable Grupal Coder Django</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>

    <div><h2 class="text-center">Familiares<span class="badge bg-secondary">WebApp</span></h2></div> 

    
    <div class="container">
      
      <div class="row">
        <div class="col">
          <form action="/alta/" method="get">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" name="nombre" required >
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Apellido</label>
              <input type="text" class="form-control" id="apellido" name="apellido" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Fecha Nacimiento</label>
              <input type="date" class="form-control" id="nacimiento" name="nacimiento" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">DNI</label>
              <input type="text" class="form-control" id="dni" name="dni" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="col">
          <form action="/borrar/" method="get">
            <div class="mb-3">
              
              <input type="text" class="form-control" id="borrar" name="borrar" value='borrar' hidden>
            </div>
            
            <button type="submit" class="btn btn-primary">Borrar</button>
          </form>
        </div>
        <div class="col">
          
        </div>
      </div>
    </div>
    

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Fecha Nacimiento</th>
          <th scope="col">D.N.I.</th>
        </tr>
      </thead>
      <tbody>
        {%for persona in familiar %}
          
          <tr>
            <th scope="row">{{persona.id}}</th>
            <td>{{persona.nombre}}</td>
            <td>{{persona.apellido}}</td>
            <td>{{persona.fecha_nacimiento}}</td>
            <td>{{persona.dni}}</td>
          </tr>
          
        {% endfor %}
      </tbody>
    </table>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>  
  </body>
</html>